/* Colors taken from radix-ui colors https://www.radix-ui.com/colors */
:root {
  --primary: #ffb381; /* orange7 */
  --onPrimary: hsl(0 0% 9%); /* gray12 */
  --background: hsl(0 0% 99%); /* gray1 */
  --onBackground: hsl(0 0% 9%); /* gray12 */
  --surface: hsl(0, 0%, 93%); /* gray4 */
  --onSurface: hsl(0 0% 9%); /* gray12 */
  --link: hsl(208 100% 47.3%); /* blue10 */
  --linkVisited: hsl(250 43% 48%); /* violet11 */

  transition: color 500ms, background-color 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: hsl(24, 92.4%, 24%); /* orange7 */
    --onPrimary: hsl(0, 0%, 93%); /* gray12 */
    --background: hsl(0, 0%, 8.5%); /* gray1 */
    --onBackground: hsl(0, 0%, 93%); /* gray12 */
    --surface: hsl(0, 0%, 15.8%); /* gray4 */
    --onSurface: hsl(0, 0%, 93%); /* gray12 */
    --link: hsl(209, 100%, 60.6%); /* blue10 */
    --linkVisited: hsl(250, 95%, 76.8%); /* violet11 */
  }
}

.light {
  --primary: #ffb381; /* orange7 */
  --onPrimary: hsl(0 0% 9%); /* gray12 */
  --background: hsl(0 0% 99%); /* gray1 */
  --onBackground: hsl(0 0% 9%); /* gray12 */
  --surface: hsl(0, 0%, 93%); /* gray4 */
  --onSurface: hsl(0 0% 9%); /* gray12 */
  --link: hsl(208 100% 47.3%); /* blue10 */
  --linkVisited: hsl(250 43% 48%); /* violet11 */
}

.dark {
  --primary: hsl(24, 92.4%, 24%); /* orange7 */
  --onPrimary: hsl(0, 0%, 93%); /* gray12 */
  --background: hsl(0, 0%, 8.5%); /* gray1 */
  --onBackground: hsl(0, 0%, 93%); /* gray12 */
  --surface: hsl(0, 0%, 15.8%); /* gray4 */
  --onSurface: hsl(0, 0%, 93%); /* gray12 */
  --link: hsl(209, 100%, 60.6%); /* blue10 */
  --linkVisited: hsl(250, 95%, 76.8%); /* violet11 */
}

html {
  background-color: var(--background);
  color: var(--onBackground);
  font-family: system-ui, sans-serif;
  line-height: 1.4;
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding: min(32px, 5vw);
}

button {
  background-color: var(--primary);
  color: var(--onPrimary);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--linkVisited);
}

pre {
  padding: min(16px, 2.5vw);
  max-width: 100%;
  overflow: auto;
  color: var(--onSurface);
  background: var(--surface);
  border: 1px solid var(--onSurface);
  border-radius: 5px;
}
